.b-c {
    position: relative;
    margin: 0 -20px -10px;
    padding: 10px 20px;
}
.shouqi {
    position: absolute;
    right: 22px;
    top:17px;
}
.b-all {
    margin-top: 15px;
    margin-bottom: -4px;
    font-size: 14px;
    color: #000;
    line-height: 1.67;
}
.b-cm-p {
    height: 30px;
    width: 80px;
    background: #579bff;
    color: #FFF;
    border-radius: 4px;
    line-height: 1;
    transition: all .5s;
}
.b-cm-p:hover{
    background: #0e70ff;
}
.b-cm-f {
    padding: 12px 20px;
    background: #fff;
    border-top: 1px solid #ebebeb;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.b-cm-f textarea {
    height: 30px;
    width: calc(100% - 100px);
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
    padding: 2px 2px;
    line-height: 1.5;
    background: #f8f8f8;
    transition: all 0.5s;
}
.b-cm-f textarea:focus {
    background: #fff;
    height: 90px;
}
.b-cm-c {
    margin-top: 8px;
    width: 100%;
    word-break: break-all;
    display: inline-block;
}
.b-cm-i {
    height: 30px;
    display: inline-block;
    width: 30px;
    text-align: center;
    line-height: 30px;
    background: #ececec;
    color: #7ea2ff;
    margin-right: 8px;
    border-radius: 10px;
}
.b-cm-t {
    display:flex;
    justify-content: space-between;
}
.b-cm-o {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 12px 20px 10px;
    font-size: 15px;
}
.b-cm-o:after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    margin: 0 20px;
    border-bottom-style: solid;
    border-bottom-color: #f6f6f6;
    border-bottom-width: 1px;
    content: "";
}
.b-cm-top {
    background: #fff;
    border-bottom: 1px solid #f6f6f6;
    height: 50px;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 600;
    font-synthesis: style;
    color: #1a1a1a;
    line-height: 50px;
}
.b-cm-w {
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    background: #fff;
    margin-top: 12px;
    overflow: visible;
    border-radius: 4px;
}
.fasong:hover {
    color: #666;
}
.com:hover {
    color: #666;
}
.xin:hover {
    color: #ff4f4f;
}
.b-c-c {
    margin-left: 24px;
}
.b-c-c-w {
    color: #8590a6;
    display: inline-block;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    margin-left: 24px;
}
.r-b-c {
    position: fixed;
}
.b-c-m {
    color: #175199;
    cursor: pointer;
    margin-left: 7px;
}
.b-c-w {
    margin-top: 15px;
}
.VoteButton-upIcon {
    margin-right: 8px;
    height: 16px;
    width: 9px;
}
.Button {
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 3px;
}

.VoteButton {
    padding: 0 10px;
    color: #0084ff;
    background: rgba(0,132,255,.1);
    border-color: transparent;
    transition: all 0.5s;
}
.b-i-w img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.b-i-w {
    position: relative;
    width: 190px;
    height: 105px;
    margin-top: -2px;
    margin-right: 18px;
    margin-bottom: 4px;
    float: left;
    overflow: hidden;
    background-position: 50%;
    background-size: cover;
    border-radius: 4px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.b-b-w {
    max-height: 100px;
    margin-top: 16px;
    margin-bottom: -4px;
    overflow: hidden;
    cursor: pointer;
}
.b-b-w:hover {
    color: #575757;
}
.b-b-c {
    white-space: normal;
    line-height: 1.5;
}
.b-f {
    margin-bottom: 8px;
    color: #8590a6;
    word-break: break-word;
    line-height: 1.6;
}
.b-t {
    font-size: 18px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 1.6;
    color: #1a1a1a;
    margin-top: -4px;
    margin-bottom: -4px;
}
.r-b {
    width: 300px;
    flex: 1;
    font-size: 14px;
    position: relative;
    height: 400px;
}
.b-w {
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    width: 1000px;
    padding: 0 16px;
    margin: 10px auto;
}
.b-o {
    position: relative;
    padding: 16px 20px;
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-sizing: border-box;
}
.x-w {
    width: 80%;
    margin: 0px auto;
}

.isfix {
    bottom: 8px;
    position: fixed;
    z-index: 2;
    width: 695px;
    box-sizing: border-box;
    background: #fff;
    /* margin: 0; */
    box-shadow: 0 -1px 3px rgba(26,26,26,.1);
}
.r-b-c {
    width: 300px;
    flex: 1;
    font-size: 14px;
    position: fixed;
    height: 400px;
    top: 180px;
    background: #fff;
}

.b-cm-pa {
    padding: 10px 0px;
    text-align: center;
    /* border-top: 1px solid #ccc; */
}
.VoteButton:hover {
    background: #38d1c8;
    color: #fff;
}
.cm-s {
    color: #40d380;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
}

.xin {
    position: relative;
}
.lsact{
    color: red !important;
    top: -20px !important;
    opacity: 1 !important;
    transition: all 0.7s;
}
.xin .ls {
    position: absolute;
    top: 2px;
    font-size: 12px;
    right: 4px;
    color: #ffc2c2;
    opacity: 0;
    
}
.b-cm-f-n {
    position: absolute;
    width: 80px;
    right: 20px;
    top: 66px;
}
.edit-at {
    margin-top: 25px;
    font-size: 14px;
    color: #8590a6;
    font-style: italic;
}
.b-xx {
    font-size: 14px;
    color: #8590a6;
    line-height: 30px;
}

.no-da {
    text-align: center;
    font-style: italic;
    padding-top: 40px;
}

.no-da i {
    font-size: 30px;
    color: #979797;
}